<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X_UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<style>
    h1{color:azure}
</style>

<body style="background-color: #1F2424; color: white">

    <header>

          <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
              <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Main</strong>
              </a>

            </div>
          </div>
        </header>

    <br>


  <div class="container">
      <div class="row">
          <div class="col-lg-5">

              <b1></b1>
              <h1> Hello world! </h1>

          </div>
      </div>


  </div>

<body>


